body, 
html, 
*{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding:0;

}

:root {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #c0a7a7de;
  background-color: #e9dcdc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.play {
  border:#ffc3c3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 20rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  
}

.btn {
  font-family: 'Times New Roman', Times, serif;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color:darkred;
  border: solid palevioletred;
  background-color: pink;
}

.btn:hover {
  background-color: white;
}

.question {
  border:solid #bb2e2e67;
  box-shadow: 0 4px 8px 0 #e9b3b3;
  height: 15rem;
  width: 35rem;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.prompt {
  font-weight: 700;
  color: grey;
}

.answer {
  font-family: 'Times New Roman', Times, serif;
  margin: 5px;
  display: flex;
  border: solid #bb2e2e67;
  box-shadow: 0 2px 4px 0 #e9b3b3;
  border-radius: 5px;
  padding: 2px;
}

.answer:hover {
  background-color: rgb(221, 219, 219);
  box-shadow: none;
}

.greyed-out {
  background-color: #d3d3d3;  
  color: #a1a1a1; 
  pointer-events: none;  
  opacity: 0.5;  
}


.submit {
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
  color:darkred;
  border: solid palevioletred;
  background-color: pink;
  border-radius: 10px;
}

.submit:hover {
  color: black;
  background-color:white;
}

.results {
  border:#ffc3c3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 20rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}


